@model ProiectColectiv.Models.Station

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFastCharging" /> @Html.DisplayNameFor(model => model.IsFastCharging)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PlateNumber" class="control-label"></label>
                <input asp-for="PlateNumber" class="form-control" />
                <span asp-validation-for="PlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyGain" class="control-label"></label>
                <input asp-for="DailyGain" class="form-control" />
                <span asp-validation-for="DailyGain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyGain" class="control-label"></label>
                <input asp-for="WeeklyGain" class="form-control" />
                <span asp-validation-for="WeeklyGain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyGain" class="control-label"></label>
                <input asp-for="MonthlyGain" class="form-control" />
                <span asp-validation-for="MonthlyGain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
