@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p><b>to "Danutu si formatia" project.</b></p>
    <p><b>Please login <a href="~/Login/Login">here</a>.</b></p>

</div>
