@{
    ViewData["Title"] = "Register Error";
}

<div class="text-center">
    <h1 class="display-4"><b>SORRY</b></h1>
    <p><b>Email or password not good.</b></p>
    <p><b>Please <a href="~/Register/Register">try again</a>.</b></p>

</div>
