@{
    ViewData["Title"] = "Register Success";
}

<div class="text-center">
    <h1 class="display-4"><b>Congrats</b></h1>
    <p><b>You made it!</b></p>
    <p><b>Please <a href="~/Login/Login">login here</a>.</b></p>

</div>
