@*@model ProiectColectiv.Models.Parking*@
@{
    ViewData["Title"] = "User Map";
}
<br />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            position: absolute;
            min-height: 91vh;
            top: 60px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="~/js/UserMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9HfqjqR0VDGD5N1sCd_nU8qC7J5SXATM&callback=initMap"
            async defer></script>
</body>
</html>