@model ProiectColectiv.Models.Booking

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Reserve</h2>
<hr />

<div>
    <div class="centerForm">
        <form asp-action="Booking">

            <div asp-validation-summary="ModelOnly" class="text-center"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Start_Time"></label>
                <input type="datetime-local" asp-for="Start_Time" class="form-control"/>
                <span asp-validation-for="Start_Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="End_Time"></label>
                <input type="datetime-local" asp-for="End_Time" class="form-control"/>
                <span asp-validation-for="End_Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlateNumber"></label>
                <input asp-for="PlateNumber" class="form-control"/>
                <span asp-validation-for="PlateNumber" class="text-danger"></span>
            </div>                

                

            <div class="form-group">
                <input id="rzvr" type="submit" value="Booking" class="btn btn-outline-success" />
                <a asp-action="UserMap" asp-controller="UserMap" class="btn btn-outline-danger">Cancel</a>
            </div>

            
        </form>
    </div>
</div>


