@model ProiectColectiv.Models.Parking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitudine" class="control-label"></label>
                <input asp-for="Longitudine" class="form-control" />
                <span asp-validation-for="Longitudine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitudine" class="control-label"></label>
                <input asp-for="Latitudine" class="form-control" />
                <span asp-validation-for="Latitudine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrFastChargingSpots" class="control-label"></label>
                <input asp-for="NrFastChargingSpots" class="form-control" />
                <span asp-validation-for="NrFastChargingSpots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrNormalChargingSpots" class="control-label"></label>
                <input asp-for="NrNormalChargingSpots" class="form-control" />
                <span asp-validation-for="NrNormalChargingSpots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
